.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .input{
    background-color: #f3f3f3;
  }
  
  .input:focus{
    background-color: #f3f3f3;
  }

  .login{
    padding:0 20px;
    background-color: #f3f3f3;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  form{
    background-color: #ffff;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
  }
  .container{
    height: 100vh;
    padding: 150px 0;
    background-color: #f3f3f3;
  }